---
export const prerender = false;
import { authClient } from "@/lib/auth.client";
import { ChatApp } from "@/components/ChatApp";
import "@/src/styles/global.css";

const { data: session } = await authClient.getSession({
  fetchOptions: {
    headers: Astro.request.headers
  }
});

if (!session) {
  return Astro.redirect("/login");
}

const user = {
  id: session.user.id,
  name: session.user.name,
  email: session.user.email,
};

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Chat</title>
  </head>
  <body>
    <ChatApp
      client:load
      user={user}
    />
  </body>
</html>
