---
// export const prerender = false;
// const API_URL = import.meta.env.PUBLIC_API_URL;
// import { authClient } from "@/lib/auth.client";

// const data = await authClient.getSession();

// if (!data) {
//   Astro.redirect("/login");
//   throw new Error("sessao invalida");
// }

// const cookies = Astro.request.headers.get("cookie");

// const session = fetch(`${API_URL}/api/auth/get-session`, {
//   headers: {},
// });
import { ChatApp } from "@/components/ChatApp";
import "@/src/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Chat</title>
  </head>
  <body>
    <ChatApp
      client:load
      user={{
        id: "aFpBuN09e4wIjuyXS5opvZgXDIb3kiMf",
        name: "Ana",
        email: "ana@test.com",
      }}
    />
  </body>
</html>
